.heading{
    display: flex;
    flex-direction: row;
    color: green;
  
    margin-left: 50px;
    margin-top: 20px;

}
.heading img{
    padding-left: 20px;
    height: 80px;
    width: 80px;
}
.heading h1{
    padding-left: 20px;
}